[mysqld]
datadir = /usr/local/var/mysql/id
socket = /usr/local/var/mysql/id/mysql.sock
slow_query_log = 1
key_buffer_size = 512K
max_allowed_packet = 1M
table_cache = 32
read_buffer_size = 100K
sort_buffer_size = 100K
read_rnd_buffer_size = 100K
myisam_sort_buffer_size = 100K
thread_cache_size = 50
query_cache_size = 1M
max_connections = 200
sql_mode = STRICT_ALL_TABLES
default-time-zone = '+0:00'
character-set-server = utf8
skip-innodb

# id1:
#
#auto-increment-increment = 2
#auto-increment-offset = 1

# id2:
#
#auto-increment-increment = 2
#auto-increment-offset = 2
