[submodule "include/AWS-SDK"]
	path = include/AWS-SDK
	url = git://github.com/amazonwebservices/aws-sdk-for-php.git
[submodule "include/Elastica"]
	path = include/Elastica
	url = https://github.com/ruflin/Elastica.git
