[submodule "tinymce-clean-server"]
	path = tinymce-clean-server
	url = https://github.com/uniuuu/tinymce-clean-server
[submodule "stream-server"]
	path = stream-server
	url = https://github.com/uniuuu/stream-server
[submodule "client/zotero-client"]
	path = client/zotero-client
	url = https://github.com/zotero/zotero
[submodule "client/zotero-standalone-build"]
	path = client/zotero-standalone-build
	url = https://github.com/zotero/zotero-standalone-build
[submodule "client/zotero-build"]
	path = client/zotero-build
	url = https://github.com/zotero/zotero-build
[submodule "dataserver"]
	path = dataserver
	url = https://github.com/uniuuu/dataserver.git
