php_flag zlib.output_compression On
php_value zlib.output_compression_level 5

php_value include_path "../include"
php_value auto_prepend_file "header.inc.php"
php_value auto_append_file "footer.inc.php"

php_value memory_limit 500M

php_value xdebug.show_local_vars 1
#php_value xdebug.profiler_enable 1
#php_value xdebug.profiler_enable_trigger 1
#php_value xdebug.profiler_output_dir /tmp/xdebug

RewriteEngine On

# If file or directory doesn't exist, pass to director for MVC redirections
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule .* index.php [L]

# If on a testing site, deny by default unless IP is allowed
SetEnvIf Host "\:[0-9]{4}$" ACCESS_CONTROL
#######                   Local
SetEnvIf X-Forwarded-For "192.168.1.|" !ACCESS_CONTROL
order deny,allow
deny from env=ACCESS_CONTROL
